@font-face {
  font-family: 'icomoon';
  src:  url('../fonts1/icomoon.eot?xdua1h');
  src:  url('../fonts1/icomoon.eot?xdua1h#iefix') format('embedded-opentype'),
    url('../fonts1/icomoon.ttf?xdua1h') format('truetype'),
    url('../fonts1/icomoon.woff?xdua1h') format('woff'),
    url('../fonts1/icomoon.svg?xdua1h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
